*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
body{
    font-family:'Courier New', Courier, monospace;

}
nav{
    color: aqua;
    background: #0082e5;
    height: 50px;
    width: 100%;
}
label.logo{
    color:white;
    font-size: 40px;
}